@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

body {
  background: #1f212b;
}

.wrapper {
  display: block;
  margin: 2%;
}
